@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria :#011526;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #054BA6;
    --cor-hover:#0455BF;
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria:'Montserrat', sans-serif 
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.apresentacao__titulo{
    font-size: 2.25rem;
    font-family:var(--fonte-primaria);
}
.texto{
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

body{
   background-color:var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.destaque_titulo{
    color:var(--cor-terciaria) ;
}

.LP{
    color:var(--cor-terciaria);
}

.imageCarlos{
    width: 32%;
    border-radius: 25px;
    border: 2px solid #054BA6;
    
}

.apresentacao__cont{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.apresentacao__link_subtitulo{
        font-family:var(--fonte-primaria);
        font-weight: 400;
        font-size: 1.5rem;

}
.apresentacao__link{
    display:flex;
    justify-content:center;
    gap: 16px;
    border: 2px solid #054BA6;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--fonte-secundaria) ;
    
}

.apresentacao__link:hover{
    background-color:var(--cor-hover);
    color: black;
    transform: scale(1.1);
}

.rodape{
    text-align: center;
    padding: 24px;
    color: var(--cor-secundaria);
    background-color:var(--cor-hover) ;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}





@media (max-width: 1200px){
    .cabecalho{
      padding: 10% 0 0;  
    }
    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao__cont{
        width: auto;
    }
}